[Unit]
Description=graphite container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a graphite_web
ExecStop=/usr/bin/docker stop -t 2 graphite_web

[Install]
WantedBy=multi-user.target
